<footer class="bottom-footer mt-auto">
    <div class="container text-start">
        <div class="bottom-links mb-2">
            <a href="#">Terms and conditions</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Internet Risk</a>
            <a href="#">Disclaimer</a>
            <a href="#">Investment Channels</a>
            <a href="#">Contact Us</a>
            <a href="#">FAQ</a>
            <a href="../Corporate Website/landing.html">Public Mutual Fund</a
        </div>
        <div class="copyright-text fs-9">
            <span>2026 © Public Mutual Berhad (197501001842 (23419-A)) ALL RIGHTS RESERVED</span>
        </div>
    </div>
</footer>
